<% layout("/layouts/boilerplate") %>


    <form method="POST" action="/listings/<%=listing._id %>?_method=PUT">
        <h3>Enter Details</h3>
        <div>
            <label for="title" class="form-label">Title</label>
        <input class="form-control" name="listing[title]" value="<%= listing.title  %>">
        </div>
        <br> 
        <div>
                 <label for="description" class="form-label">description</label>
        <textarea class="form-control" name="listing[description]"><%= listing.description  %></textarea>
        </div>
        <br>         <br> 
<div>
            <label for="price" class="form-label">price</label>
 <input  class="form-control" name="listing[price]" value="<%= listing.price  %>">
</div>
        <br> 
<div>
                <label for="country" class="form-label">country</label>
 <input class="form-control" name="listing[country]" value="<%= listing.country  %>">
</div>        <br>         <br> 

<div>
                <label for="location" class="form-label">location</label>
<input class="form-control" name="listing[location]" value="<%= listing.location  %>">
</div>        <br>         <br> 

<div>
        <label for="image" class="form-label">image</label>
 <input class="form-control" name="listing[image]" value="<%= listing.image  %>">
</div>
        <br>        <br> 

        <button class="btn btn-dark edit-btn">Edit</button>
    </form>


