<% layout("/layouts/boilerplate") %>


    <form method="POST" action="/listings/<%=listing._id %>?_method=PUT">
        <h3>Enter Details</h3>
        <div>
        <input type="text" name="listing[title]" value="<%= listing.title  %>">

        </div>
        <br> 
        <div>

        </div>
        <br>         <br> 

        <input type="text" name="listing[price]" value="<%= listing.price  %>">
        <br> 
        <input type="text" name="listing[location]" value="<%= listing.location  %>">
        <br>         <br> 

        <input type="text" name="listing[country]" value="<%= listing.country  %>">
        <br>         <br> 

        <input type="text" name="listing[image]" value="<%= listing.image  %>">
        <br>        <br> 

        <button>ADD</button>
    </form>


