<% layout("/layouts/boilerplate") %>
<body>
    <h1 class="text-center my-4">Our Destination</h1>

    <!-- Card Container -->
    <div class="container">
        <div class="row">
          <% for(let listing of alllistings){ %>
            <div class="col-md-4 mb-4">
              <a href="/listings/<%= listing._id %>" class="card-link">
                <div class="card">
                  <img src="<%= listing.image %>" class="card-img-top" alt="listing_image">
                  <div class="card-body">
                    <p class="card-text">
                      <strong><%= listing.title %></strong> <br>
                      &#8377; <%= listing.price.toLocaleString("en-IN") %>/night<br>
                      <%= listing.location %> <br>
                      <%= listing.country %> <br>
                    </p>
                  </div>
                </div>
              </a>
            </div>
          <% } %>
        </div>
    </div>

   
</body>
