<% layout("/layouts/boilerplate") %>

<body>
    <div class="container">
        <div class="row text-center mb-4">
            <div class="col-12">
                <h5 class="card-title"><b><%= listing.title %></b></h5>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <img src="<%=listing.image %>" class="card-img-top" alt="listing_image"/>
                    <div class="card-body">
                        <p class="card-text"><%= listing.description %></p>
                        <p class="card-text">Price: &#8377; <%= listing.price %></p>
                        <p class="card-text"><%= listing.location %></p>
                        <p class="card-text"><%= listing.country %></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-4">
            <div class="col-auto">
                <a href="/listings/<%= listing._id%>/edit" class="btn btn-dark">Edit</a>
            </div>
            <div class="col-auto">
                <form method="POST" action="/listing/<%= listing._id %>?_method=DELETE">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>

        <br>
        <div class="col-8 offset-3">
            <h4>Leave a Review</h4>
            <form action="/listings/<%= listing.id %>/reviews" method="POST" novalidate class="needs-validation">
                <div class="mb-3 mt-3">
                    <label for="Rating" class="form-label">
                        Rating: <span id="ratingValue" style="font-weight: bold; color: #007bff;">2.5</span>
                    </label>
                    <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange2" name="review[rating]" value="2.5" oninput="document.getElementById('ratingValue').innerText = this.value;" required>
                </div>
                <div class="mb-3 mt-3">
                    <label for="comment" class="form-label">Comment</label>
                    <textarea name="review[comment]" id="comment" cols="20" rows="7" class="form-control" required></textarea>
                </div>
                <button class="btn btn-outline-dark">Submit</button>
            </form>
            <hr/>
            <p><b>ALL Reviews</b></p>
        <div class="row">
            <% for(review of listing.reviews){ %>
                <br>
                <div class="card col-5 ms-3 mb-3">
                    <div class="card-body">
                        <h5 class="card-title">shivam kr gupta</h5>
                        <p class="card-text"><%=review.comment%></p>
                        <p class="card-text"><%=review.rating%> Stars</p>
                    </div>
                    <form class="mb-3" method="POST" action="/listings/<%=listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                        <button class="btn btn-sm btn-dark">Delete</button>
                    </form>
                </div>
          <% } %>
        </div>
        </div>
    </div>

</body>
